.search-field-keyword {
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 300px;
    padding: 10px;
}

.search-field-location {
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 200px;
    padding: 10px;
}

.search-container {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 20px 0;
    gap: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 800px;
    padding: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.home-job-listings-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid #ccc; */
    /* border-radius: 6px; */
    /* width: 300px; */
    padding: 10px;
    gap: 10px;
    align-items: flex-start;
}

.home-job-listings-container > div:first-child {
    width: 300px;
    /* border-right: 1px solid #ddd; */
    padding-right: 10px;
}

.home-job-listings-container > div:last-child {
    flex: 1;
    max-height: 800px;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #ddd; */
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px;
    max-width: 800px;
    box-sizing: border-box;
    /* box-shadow: 4px 0 10px rgba(0, 0, 0, 0.15); */
}

.home-job-listing-details {
    box-sizing: border-box;
    /* margin-right: 20px; */
    padding-right: 20px;
    margin-top: 10px;
}

.search-button {
    background-color: #2453ba;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

.home-job-listing-results {
    height: 500px;
}

.home-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.home-welcome h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.home-welcome p {
    font-size: 16px;
    color: #666;
}

.spacer {
    min-height: 70vh;
    border-right: 1px solid #ddd;
    /* border-left: 1px solid #ccc; */
}