.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 100px;
}

.profile-content {
  width: 100%;
  max-width: 800px;
  padding: 40px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f5f7fa;
}

.profile-header h1 {
  font-size: 28px;
  margin-bottom: 50px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.profile-card {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.profile-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-placeholder {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.profile-info {
  flex: 1;
}

.info-box {
  margin-top: 10px;
}

.info-box span {
  font-weight: bold;
  color: #444;
}

.employment-history {
  margin-top: 30px;
}

.employment-history-top-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.add-job-history {
    display: flex;
    justify-content: right;
}

.add-job-history button {
    background-color: #2453ba;
    color: white;
    padding: 10px;
    border-radius: 6px;
    padding-right: 10px;
}

.add-job-history button:hover {
    background-color: #1c4299;
}

.job-history-actions {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 20px;
  top: 5px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.employment-entry:hover .job-history-actions {
  opacity: 1;
}

.employment-entry:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.edit-job-history-button {
  color: #2453ba;
  font-weight: bold;
}

.delete-job-history-button {
  color: #e02d2d;
  font-weight: bold;
}

.edit-job-history-button:hover {
  text-decoration: underline;
}

.delete-job-history-button:hover {
  text-decoration: underline;
}

.employment-entry {
  position: relative;
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 25px;
  padding-bottom: 10px;
}

.employment-details {
  padding-bottom: 10px;
}

.loading {
  text-align: center;
  padding: 50px;
  font-size: 20px;
}
