.application-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.application-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.application-form input {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 10px;
    margin-left: 10px;
}

.application-form label {
    /* border: 1px solid #ddd; */
    /* border-radius: 6px; */
    padding: 10px;
    gap: 10px;
}

.application-apply-button {
    background-color: #2453ba;
    color: white;
    padding: 10px;
    border-radius: 6px;
}